<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>

        <meta http-equiv='Content-Type' content='text/html' charset='UTF-8'>

        {% block keywords %}{% endblock %}

            <meta name='viewport' content='width=device-width, initial-scale=1.0'>

            <meta name='mobile-web-app-capable' content='yes'>

            <meta name='apple-mobile-web-app-capable' content='yes'>

            <meta name='application-name' content='FTWPortal'>

            <link rel='shortcut icon' sizes='192x192' href='/img/applogo.png'>

            <!--<link rel='apple-touch-icon' sizes='192x192' href='/img/applogo.png'>-->

            <link rel='icon' href='/img/favicon.ico' type='image/x-icon'>

            <link rel='stylesheet' href='/css/main.css' type='text/css' />

            <link rel='stylesheet' href='/css/jquery-ui.min.css' type='text/css' />

            <link rel='stylesheet' href='/css/jquery-ui.structure.min.css' type='text/css' />

            <link rel='stylesheet' href='/css/jquery-ui.theme.min.css' type='text/css' />

            <script src='/js/jquery.js'></script>

            <script src='/js/jquery-ui.min.js'></script>

    {% endblock %}
        </head>
            <body>
            {% block navigation %}
                {% if loggedin %}
                    <div class='navbar'>
                        <a href='/menu' title='Menu'>Menu</a>
                        <a href='/logout' title='Logout'>Logout</a>
                    </div>
                {% endif %}
            {% endblock %}
            {% block logopg %}
                {% if loggedin %}
                <div class='logo'>
                    <img class='logo' src='/img/ns1_logo.png' title='NS1 Logo' />
                </div>
                <div class='pagebar' title='{{ page }}'>
                    <h2>{{ page }}</h2>
                </div>
                {% endif %}
            {% endblock %}
        {% block messages %}
            {% block info %}
                {% if info is empty %}
                {% else %}
                    {% for hilite in info %}
                         <div class='notify'><br />
                            <div class='ui-widget'>
                                <div class='ui-state-highlight ui-corner-all' style='padding:0 .7em;'>
                                    <p>
                                        <span class='ui-icon ui-icon-info' style='float:left;margin-right:.3em;'></span>
                                        <strong>Info:</strong>
                                        {{ hilite }}
                                    </p>
                                </div>
                            </div><br />
                         </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
            {% block error %}
                {% if error is empty %}
                {% else %}
                    {% for alert in error %}
                        <div class='notify'><br />
                            <div class='ui-widget'>
                                <div class='ui-state-error ui-corner-all' style='padding:0 .7em;'>
                                    <p>
                                        <span class='ui-icon ui-icon-alert' style='float:left;margin-right:.3em;'></span>
                                        <strong>Alert:</strong>
                                        {{ alert }}
                                    </p>
                                </div>
                            </div><br />
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>