{% extends "base.html.twig" %}
{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='NS1, NSONE, api cheat {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block content %}
    <div id='tabs'>
        <ul>
            <li><a href='#search' title='Answer Search'>Answer Search</a></li>
            <li><a href='#clean' title='Clean rDNS'>rDNS Cleanup</a></li>
        </ul>
        <div id='search'>
            <form method='post' action='/search'>
                <fieldset>
                    <legend>Search for an answer</legend>
                    <p><label for="answer"></label><input type='text' maxlength='253' id="answer" name="answer" title="Enter Answer" placeholder="Enter Answer to Search" style='max-width:320px'/></p>
                    <input type='submit' value='Search' title="Search"/>
                </fieldset>
            </form>
        </div>
        <div id='clean'>
            <form method='post' action='/rndsSearch'>
                <fieldset>
                    <legend>Find orphaned PTR records</legend>
                    <input type='submit' value='Search' title="Search"style='margin-top:3px'/>
                </fieldset>
            </form>
        </div>
    </div>
    {% block scripts %}
        <script type='text/javascript'>
            $(function() {
                $( "#tabs" ).tabs();
                $( document ).tooltip({
                    show: {
                        effect: "slideDown",
                        delay: 1000
                    },
                    track: true
                });
                $( "input[type=submit], a, .jbutton" ).button();
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $( ".notify" ).fadeOut(1000, function () {
                        $( ".notify" ).css({"visibility":"hidden","display":"block"}).slideUp();
                    });
                }, 3500);
            });
        </script>
    {% endblock %}
{% endblock %}