{% extends "base.html.twig" %}
{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='NS1, NSONE, api cheat {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block scripts %}
    <script type='text/javascript'>
        $(function() {
            $( "#tabs" ).tabs({
                collapsible: true
            });
        });
        $(function() {
        $( document ).tooltip();
        });        
        $(function() {
            $( "#accordion" ).accordion({
                collapsible: true,
                heightStyle: "content"
            });
        });
        $(function() {
            $( "input[type=submit], a, .jbutton" ).button();
        });
        $(function() {
            $( "#zone").selectmenu();
        });
        $(function() {
            $( "#zonedump").selectmenu();
        });
        $(document).ready(function() {
            setTimeout(function() {
                $( ".notify" ).fadeOut(1000, function () {
                    $( ".notify" ).css({"visibility":"hidden","display":"block"}).slideUp();
                });
            }, 3500);
        });
    </script>
{% endblock %}
{% block content %}
    <div id='tabs'>
        <ul>
            <li><a href='#search' title='Answer Search'>Answer Search</a></li>
        </ul>
        <div id='search'>
            <form method='post' action='/search'>
                <p>Enter the answer you would like to search for.</p>
                <p><label for="answer">Answer: </label><input id="answer" title="Enter Answer"></p>
                <input type='submit' value='Search' title="Search"/>
            </form>
        </div>
    </div>
{% endblock %}